/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
	text-decoration: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

/* end  обнуление*/
/* общие стил */
p,
a,
span,
input {
	font-family: 'Roboto';
}
 
/* меню */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 31;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #131313;
	border-bottom: 1px solid #ffb51d;
	z-index: 3;
} 
.header__link:hover{
	color: #ffb51d;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header__logo img {
	position: relative;
	z-index: 5;
	flex: 0 0 60px;
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 4;
}

.header__list li {
	margin: 20px 0px 0px 20px;

}



@media (max-width: 767px) {
	.header__body {
		height: 50px;
	}

	.header__logo img {
		flex: 0 0 40px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}

	.header__burger:before,
	.header__burger:after {
		position: absolute;
		content: '';
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 8.5px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #3dacf6;
		padding: 70px 10px 20px 10px;
		transition: 0.4s ease-in;
		-webkit-transition: 0.4s ease-in;
		-moz-transition: 0.4s ease-in-out;
		-ms-transition: 0.4s ease-in;
		-o-transition: 0.4s ease-in;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		top: 9px;
		transition: 0.3s ease-in-out;
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		bottom: 9px;
		transition: 0.3s ease-in-out;
		-webkit-transition: 0.4s ease-in-out;
		-moz-transition: 0.4s ease-in-out;
		-ms-transition: 0.4s ease-in-out;
		-o-transition: 0.4s ease-in-out;
	}
	.header__burger.active span{
		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
	}
	body.lock{
	overflow: hidden;
	}
	.content{
		padding: 80px 0px 0px 0px;
	}
}

.container {
	position: relative;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 0px;
}
.content{ 
	position: relative;
	padding: 100px 0px 0px 0px; 
}

/* бегущая строка */
.latest-news{
    position: relative;
    top: 80px;
	width: 100%;
	height: 76px;
	background-color: #0b0b0b;
}
.latest-news__title{
	padding-top: 26px;
	position: absolute;
	left: -21%;
	background-color: #ffb51c;
	height: 76px;
	width: 40%;
	color: #fff;
	z-index: 5;
}
.latest-news__title h3{
	position: absolute;
	font-size: 21px;
	font-weight: 500;
	left: 65%;
}
@media(max-width:1177px){
	.latest-news__title{
		left: -21%;
	}
}
.marquee{
	position: relative;
	display: flex;
	left: 0;
	top: 0;
	color: #fff;
}
.marquee span{
	margin-right: 35px;
	margin-left: 41px;
}
.marquee h3{
	padding: 5px;
	
}
.badge{
	font-size: 16px;
	padding: 6px 25px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
.new-badge{
	background-color: #ff1a5e;
	color: #fff;
}
.strategy-badge{
	background-color: #4baf5e;
}
.racing-badge{
	background-color: #694daf;
}
.adventure-badge{
	background-color: #40ABF5;
}
@media(max-width:767px){
	.latest-news{
		top: 50px;
	}
}
/* видео галерея */
.gallery{
	position: relative;
	margin-top: 80px;
	width: 100%;
	height: 600px;
    background-image: url(../../img/page-top-bg/5.jpg);
    background-size: cover;
    background-position: center;
}
.gallery__body{
	position: absolute;
	left: 20%;
	top: 50%;
	color: #fff;
}
.gallery__descr{
	line-height: 2;
	font-size: 1.2em;
}
.gallery__title{
	font-size: 5em;
}
/* блок с картой */

.map__body{
    position: relative;
    margin: 6% 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.map__image{
    width: 70%;
	height: 70%;
	filter: blur(8px);
}
/* Блок с формой для связи и информацией о компании */
.contact{
    position: relative;
    width: 100%;
    background-color: #fff;
}
.contact__body{
    position: relative;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.contact__item_1{
	margin-right: 200px;
}
.contact__title{
    font-size: 2em;
}
.contact__text{
    font-size: 1.1em;
    line-height: 1.7;
    margin: 60px 0;
}
.info__category{
    font-size: 1.4em;
	color: #FFB320;
	font-weight: 700;
}
.info__descr{
    position: relative;
    width: 100%;
}
.info__details{
    font-size: 16px;
}
.address, .phone, .email{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 20px 0;
}
.reply__form{
	margin-top: 60px;
}
.reply__form input, .reply__form textarea{
	border: 1px solid #d6dee7;
	padding: 7px;
	margin-bottom: 20px;
}
.reply__basics input{
	width: 49%;
}
.reply__subject{
	width: 100%;
}
.reply__text textarea{
	width: 505px;	
}
.send-btn{
	min-width: 163px;
	padding: 18px 30px;
	border-radius: 50px;
	font-weight: 500;
	background-color: #FFB320;
}

/* footer */

.footer{
	margin-top: 70px;
	position: relative;
	width: 100%;
	background-image: url(../../img/pattern.png);
}
.footer__body{
	max-width: 1178px;
	display: flex;
	margin: 0 auto;
}
@media (max-width: 1192px){
	.footer__body{
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__symbol{
		display: none;
	}
	.footer__elem_1{
		display: none;
	}
	.footer__elem_2{
		margin-right: 0px;
	}
}
.footer__elem{
	padding: 70px 0px 0px 0px;
}
.latest-posts__body, .comments__body{
	box-sizing: content-box;
	width: 364px;
	height: 496px;
	background-color: #252525;
	border: 1px solid #4a4a4a;
}
.latest-posts__image{
	width: 40%;
	height: 40%;
}
.comments__image{
	border-radius: 50%;
	width: 25%;
	height: 25%;
}
.footer__title{
	padding: 20px 30px 10px 45px;
	font-size: 24px;
	color: #fff;
}
.latest-posts__elem, .comments__elem{
	display: flex;
	padding: 5px 60px 30px 30px;
}
.latest-posts__text, .comments__text{
	margin-left: 15px;
}
.latest-posts__text h4{
	color: #e8a41a;
}
.comments__text_1{
	color: #da1a54;
}
.comments__text_2{
	color: #5c5c5c;
}
.comments__text_3{
	color: #e8a41a;
}
.comments__text h4{
	color: #fff;
}
.comments__text{
	letter-spacing: 1px;
}
.latest-posts__text p{
	width: 350px;
	color: #bebebe;
}
.latest-posts__text span{
	color: #6c6c6c;
}
.footer__elem_2{
	margin-right: 31px;
}
.footer__descr{
	color: #fff;
	margin-top: 25px;
	line-height: 2;
	font-size: 16px;
}
